[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "dependencies/PROJ"]
	path = dependencies/PROJ
	url = https://github.com/OSGeo/PROJ.git
