# ----------------- BEGIN LICENSE BLOCK ---------------------------------
#
# Copyright (c) 2019-2020 Intel Corporation
#
#
# ----------------- END LICENSE BLOCK -----------------------------------
##

language: cpp
compiler: gcc

os: linux
dist: xenial
sudo: false

matrix:
  include:

    - env: TEST="Build and Unit Tests (Ubuntu 16.04)"
      addons:
        apt:
          packages:
            - cmake
            - build-essential
            - lcov
            - libpugixml-dev
            - libproj-dev
            - doxygen
            - graphviz
            - python3
            - python3-pip
            - libboost-all-dev
            - libgtest-dev
            - libopenblas-dev
            - liblapacke-dev
            - python-pip
            - castxml
      before_install:
        - pip3 install setuptools
        - pip2 install --user pygccxml https://bitbucket.org/ompl/pyplusplus/get/1.8.1.zip xmlrunner
      before_script:
        - sudo sh -c 'echo "deb http://packages.ros.org/ros/ubuntu $(lsb_release -sc) main" > /etc/apt/sources.list.d/ros-latest.list'
        - sudo apt-key adv --keyserver hkp://ha.pool.sks-keyservers.net:80 --recv-key C1CF6E31E6BADE8868B172B4F42ED6FBAB17C654
        - sudo apt-get update
        - sudo apt-get install python3-colcon-common-extensions
      script:
        - git submodule update --init
        - travis_wait 60 colcon build --executor sequential --cmake-args -DBUILD_HARDENING=ON -DBUILD_APIDOC=ON -DBUILD_TESTING=ON -DBUILD_COVERAGE=ON -DBUILD_PYTHON_BINDING=ON
        - colcon test --packages-select ad_map_access ad_physics
        - colcon test-result
      after_failure:
        - tail --lines=2000 log/latest_build/events.log
        - tail --lines=2000 log/latest_test/events.log


    - env: TEST="Documentation Deployment"
      if: branch = master AND type != pull_request
      git:
        depth: false
      addons:
        apt:
          packages:
            - cmake
            - build-essential
            - libpugixml-dev
            - libproj-dev
            - doxygen
            - graphviz
            - git
            - python3
            - python3-pip
            - libboost-all-dev
            - libgtest-dev
            - libopenblas-dev
            - liblapacke-dev
      before_install:
        - pip3 install setuptools
      before_script:
        - sudo sh -c 'echo "deb http://packages.ros.org/ros/ubuntu $(lsb_release -sc) main" > /etc/apt/sources.list.d/ros-latest.list'
        - sudo apt-key adv --keyserver hkp://ha.pool.sks-keyservers.net:80 --recv-key C1CF6E31E6BADE8868B172B4F42ED6FBAB17C654
        - sudo apt-get update
        - sudo apt-get install python3-colcon-common-extensions
      script:
        - git submodule update --init
        - colcon build --cmake-args -DBUILD_APIDOC=ON
        - cp -r doc/ doctmp/ && cp README.md README.md.tmp
        - git checkout origin/doc
        - git checkout -b doc
        - cp -r doctmp/* doc/. && cp README.md.tmp README.md
        - rm -rf doc/ad_map_access/apidoc
        - rm -rf doc/ad_physics/apidoc
        - cp -r build/ad_map_access/apidoc doc/ad_map_access/.
        - cp -r build/ad_physics/apidoc doc/ad_physics/.
        - rm -rf build install log doctmp README.md.tmp
        - git add doc/ README.md
        - git commit -m "Updated documentation" --no-edit || true
        - git remote add origin-doc https://${GITHUB_TOKEN}@github.com/carla-simulator/map.git > /dev/null 2>&1
        - git push --set-upstream origin-doc doc
      after_failure:
        - tail --lines=2000 log/latest_build/events.log

notifications:
  email: false
