name: Build and Test Documentation

on:
  push:
    branches: main
  pull_request:
    branches: main

permissions:
  contents: read
  
jobs:
  documentationjob:
    permissions:
      contents: write

    name: Build and Test Documentation
    runs-on: ubuntu-22.04

    env:
      PYTHON_BINDING_VERSION: "3.10"

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
        submodules: true

    - name: Install Dependencies
      run: |
        export BUILD_DOCU=true
        bash .github/workflows/install_dependencies.sh

    - name: Build Documentation and Test
      run: |
        source map-build-venv/bin/activate
        GTEST_OUTPUT="xml:test_results"
        colcon build --event-handlers console_direct+ --executor sequential --packages-up-to ad_map_access ad_physics --cmake-args -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=ON -DBUILD_COVERAGE=ON -DBUILD_APIDOC=ON
        colcon test --event-handlers console_direct+ --packages-select ad_map_access ad_physics
        colcon test-result

    - name: Code Coverage
      run: |
        bash .github/workflows/code_coverage.sh

    - name: Upload coverage as artifact
      uses: actions/upload-artifact@v6
      with:
        name: coverage_report
        path: ./coverage
        if-no-files-found: error
        overwrite: true

    - name: Documentation Deployment (Test)
      run: |
        if [ ${{ github.event_name }} != 'pull_request' ]; then bash .github/workflows/deploy_documentation.sh true; else bash .github/workflows/deploy_documentation.sh false; fi
