name: Check Code Formatting for AD-Map Library

on:
  push:
    branches: master
  pull_request:
    branches: master

permissions:
  contents: read

jobs:
  check_cpp:

    name: Check Code Formatting

    runs-on: ubuntu-22.04

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
      with:
        egress-policy: audit

    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      with:
          submodules: true

    - name: Install Dependencies
      run: sudo apt-get update && sudo apt-get install clang-format-14

    - name: Check Formatting
      run: failed=0; for file in `find . -path ./dependencies -prune -false -o -iname *.cpp -o -iname *.hpp`; do if [ `clang-format-14 $file -output-replacements-xml | grep -c "<replacement "` -ne 0 ]; then echo "$file does not match codeing style. Please run clang-format-14"; failed=1; fi; if [ $failed -ne 0 ]; then exit 1; fi; done
