name: Check Code Formatting for carla-map libraries

on:
  push:
    branches: main
  pull_request:
    branches: main

permissions:
  contents: read

jobs:
  check_cpp:
 
    name: Check Code Formatting

    runs-on: ubuntu-22.04

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
          submodules: true

    - name: Install Dependencies
      run: sudo apt-get update && sudo apt-get install clang-format-14

    - name: Check Formatting
      run: failed=0; for file in `find . -path ./dependencies -prune -false -o -iname *.cpp -o -iname *.hpp`; do if [ `clang-format-14 $file -output-replacements-xml | grep -c "<replacement "` -ne 0 ]; then echo "$file does not match codeing style. Please run clang-format-14"; failed=1; fi; if [ $failed -ne 0 ]; then exit 1; fi; done
