name: Create Release Package for AD-Map QGIS Plugin

on:
  release:
    types: [published]
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  publish:
    name: Publish AD-Map QGIS Plugin
    runs-on: ubuntu-22.04

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        submodules: true

    - name: Install Dependencies
      run: bash .github/workflows/install_dependencies.sh

    - name: Build Libraries
      run: |
        source map-build-venv/bin/activate
        colcon build --event-handlers console_direct+ --executor sequential --metas colcon_python.meta --packages-up-to ad_map_access_qgis

    - name: Build Package
      run: |
        cd install/ad_map_access_qgis/share/qgis/python/plugins/
        zip -r ad_map_access_qgis.zip ad_map_access_qgis/
        mv ad_map_access_qgis.zip ../../../../../../

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # v2
      if: ${{ github.event_name == 'release'}}
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ad_map_access_qgis.zip
        tag: ${{ github.ref }}
