name: Build and Publish wheels for AD-Map Library

on:
  release:
    types: [published]

jobs:
  wheels:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_binding_version: [2.7, 3.6, 3.7, 3.8]
    container:
      image: joelmb/map:${{ matrix.python_binding_version }}
    env:
      WHEEL_PLATFORM: manylinux_2_27_x86_64
      PYTHON_BINDING_VERSION: ${{ matrix.python_binding_version }}
    steps:
      # We currently cannot use checkout@v2 because git version on the docker images is below 2.18
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
          submodules: true
      - name: Build wheels
        run: |
          colcon build --packages-up-to ad_map_access --meta colcon_python.meta --event-handlers console_direct+ --cmake-args -DPYTHON_BINDING_VERSION=${PYTHON_BINDING_VERSION}
      - name: Repair wheels
        shell: bash
        run: |
          source install/setup.bash
          for whl in install/ad_physics/dist/*.whl; do
            auditwheel repair $whl --plat ${WHEEL_PLATFORM} --wheel-dir wheelhouse
          done
          for whl in install/ad_map_access/dist/*.whl; do
            auditwheel repair $whl --plat ${WHEEL_PLATFORM} --wheel-dir wheelhouse
          done
      - name: Publish wheels to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: wheelhouse/
