name: Wheel ad-physics

on:
  release:
    types: [published]
  push:
    branches: main
  pull_request:
    branches: main

permissions:
  contents: read

jobs:
  wheels:
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            PYTHON_BINDING_VERSION: "3.10"
          - os: ubuntu-22.04
            PYTHON_BINDING_VERSION: "3.11"
          - os: ubuntu-22.04
            PYTHON_BINDING_VERSION: "3.12"
          - os: ubuntu-22.04
            PYTHON_BINDING_VERSION: "3.13"

    name: ${{ matrix.os }}, python-${{ matrix.PYTHON_BINDING_VERSION }}
    runs-on: ${{ matrix.os }}
    env:
      WHEEL_PLATFORM: manylinux_2_35_x86_64
      PYTHON_BINDING_VERSION: ${{ matrix.PYTHON_BINDING_VERSION }}
      PYTHONNOUSERSITE: 1
    environment:
      name: pypi
      url: https://pypi.org/p/ad-physics
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 1
          submodules: recursive

      - name: Install Dependencies
        run: |
          bash .github/workflows/install_dependencies.sh
          source map-build-venv/bin/activate
          python${PYTHON_BINDING_VERSION} -m pip install auditwheel &&  python${PYTHON_BINDING_VERSION} -m pip install --upgrade patchelf>=0.14

      - name: Build wheels
        shell: bash
        run: |
          source map-build-venv/bin/activate
          colcon build --packages-select PROJ4 --event-handlers console_direct+ --cmake-args -DCMAKE_POSITION_INDEPENDENT_CODE=ON
          source install/setup.bash
          colcon build --packages-up-to ad_physics --event-handlers console_direct+ --cmake-args -DPYTHON_BINDING_VERSION=${PYTHON_BINDING_VERSION}  --metas colcon_python.meta

      - name: Repair wheels
        shell: bash
        run: |
          source map-build-venv/bin/activate
          source install/setup.bash
          for whl in install/ad_physics/dist/*.whl; do
             auditwheel repair $whl --plat ${WHEEL_PLATFORM} --wheel-dir wheelhouse/ad_physics
          done

      - name: Publish ad-physics wheels to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1
        if: ${{ github.event_name == 'release'}}
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages-dir: wheelhouse/ad_physics
